@{

    ViewBag.Title = "Api Error Page";
}

<div class="jumbotron text-center">
    <h1>Error Page</h1>
</div>
<div class="alert alert-danger" role="alert">
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" alt="Responsive image" src="~/Images/ErrorPikachu.png"/>
        </div>
        <div class="col d-flex align-items-center">
            <div class="row">
                <div class="col">
                    <h4 class="alert-heading">Oops! An error occurred</h4>
                    <p>We are having trouble accessing API services right now.</p>
                </div>
            </div>

        </div>
    </div>
    <hr>
</div>